<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eccoo test</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header class="container">
    <img src="/assets/journey.jpg" alt="Peoples life journeyk">  
    <div class="position">
       <p> Welcome </p>
       <p>to the Equal Care Co-op</p>
       <p>Test App</p>
    </div>
  </header>
  <nav>
     <br>
     <br>
     <ol>
      {% for name, link in links %}
        <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <main role="main">
  {% block content %}
    <br>
    <h1>{{ message }}</h1>
  {% endblock %}
  </main>
</body>
</html>