<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eccoo test</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <header>
  
    <!-- <img src="/public/journey.jpg">Click this image</img> -->
    <h1>PUT PICTURE HERE</h1>
  </header>
  <nav border border-dark border-thick>
    <!-- <div className="col-12 col-lg-6 paddingabove border border-dark border-thick"></div> -->
    <ol>
      {% for name, link in links %}
        <li><a href="{{ link }}">{{ name }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  <main role="main">
  {% block content %}
    {{ message }}
  {% endblock %}
  </main>
</body>
</html>