{% extends 'page.html' %}

<!-- {% block title %}
  <header>
    <a href="/public/journey.jpg"></a>
    <h1>KATIES HERE</h1>
  </header>
{% endblock %} -->

{% macro formfield(id, label, type="text") %}
  <fieldset>
    <label class="coloured" for="{{ id }}">{{ label }}</label><input id="{{ id }}" name="{{ id }}" type="{{ type }}" />
  </fieldset>
{% endmacro %}

{% block content %}
  <br>
  <form>
    <div class="whitetext">
      {{ formfield("name", "Name:") }}
    </div>
    <br>
    <div class="whitetext">
        {{ formfield("email", "Email:") }}
    </div>
    <br>
    <input type="radio" id="me" name="support" value="me">
    <label class="radio" for="me">The support is for me</label><br>
    <input type="radio" id="other" name="support" value="other">
    <label class="radio" for="other">The support is for someone else</label><br>
    <br>
    <button>Sign Up</button>
  </form>

  <code><pre>{{ query | dump(2) }}</pre></code>
{% endblock %}
