{% extends 'page.html' %}
{% macro formfield(id, label, placeholder, type="text") %}
  <fieldset>
    <label class="coloured" for="{{ id }}">{{ label }}</label>
    <input id="{{ id }}" name="{{ id }}" placeholder="{{placeholder}}" type="{{ type }}" />
  </fieldset>
{% endmacro %}

{% block content %}
  <form>
    <div class="whitetext">
      {{ formfield("name","Name "," What should we call you?") }}
    </div>
    <br>
    <div class="whitetext">
        {{ formfield("email","Email "," eg me@example.com") }}
    </div>
  </div>
    <div class="radio">
      <input  type="radio" id="me" name="support" value="me">
      <label  for="me">The support is for me</label>
      <br>
      <br>
      <input  type="radio" id="other" name="support" value="other">
      <label  for="other">The support is for someone else</label>
      <br>  
    </div>
    <br>
    <br>
    <br>
    <button>Sign up</button>
    <br>
  </form>

  <code><pre>{{ query | dump(2) }}</pre></code>
  
{% endblock %}
