* {
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;  
}

body > * {
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

/* form {
  border: thick;
  font-size: 20pt;
  color: white;
  background-color: blue;
} */

nav ol {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ol > li {
  padding-right: 1em;
  font-size: 20pt;

}

.whitetext {
  /* border: thick; */
  font-size: 20pt;
  color: white;
  background-color: teal;
}
.radio {
  border: thick;
  font-size: 20pt;
  color: black;
}

button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}