* {
  margin: 0;
  padding: 0;
}

body, input, button {
  font-family: 'Times New Roman', Times, serif;
  font-size: 12pt;  
}

body > * {
  /* max-width: 520px; */
  max-width:700px;
  margin-left: auto;
  margin-right: auto;
}

nav ol {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ol > li {
  padding-right: 1em;
  font-size: 23pt;
}
/* Formatting for Input boxes */
 .whitetext {
  font-size: 20pt;
  color: white;
  text-align: center;
  background-color: teal;
  left: 100px;
   height: 50px;
} 
 .whitetext input{
  font-size: 20pt;
  width: 512px;
  height: 43px;
  padding-left: 10px;
  position: relative;
  left: 50px;
  color: black;
}  

.radio {
  font-size: 10pt;
  width: 100%;
  height: 2em;
  color: black;
  transform: scale(2);
  padding: 50px 350px;
}

button {
  background-color: teal;
  border: none;
  color: white;
  padding: 14px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
}

/* Table formatting */
table {
  table-layout: auto;
  width: 500px;
}
table, td {
  border: 1px solid black;
  font-size:25px;
}
th{
  font-size: 20pt;
  background-color: teal;
  font-size: 20pt;
  color: white;
  text-align: centre;
}
td {
  padding-left: 10px;
}
/* Positioning the Text Over the Image on the Home Page */
.journey{
  width: 700px;
  height: 400px;
}
.container {
  position: relative;
  text-align: center;
  font-size: 25pt;
  color: white;
  font-weight: bold;
}
.positionText {
  position: absolute;
  top: 20%;
  left:35%
}
.logo{
  width: 200px;
  height: 100px;
}
.positionLogo {
  position: absolute;
  bottom: 8px;
  right:8px
}